{
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"importOrder": ["^node:(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"pluginSearchDirs": false
}
